<p id="notice"><%= notice %></p>

<h1>Listing Taquillas</h1>

<table>
  <thead>
    <tr>
      <th>Pelicula</th>
      <th>Valoracion</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taquillas.each do |taquilla| %>
      <tr>
        <td><%= taquilla.pelicula %></td>
        <td><%= taquilla.valoracion %></td>
        <td><%= taquilla.comentario %></td>
        <td><%= link_to 'Show', taquilla %></td>
        <td><%= link_to 'Edit', edit_taquilla_path(taquilla) %></td>
        <td><%= link_to 'Destroy', taquilla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taquilla', new_taquilla_path %>
